<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= personal.title %></title>
	<meta name="keywords" content="<%= personal.keywords %>" />
	<meta name="description" content="<%= personal.description %>" />
    <link rel="stylesheet" href="<%= common.path.css %>style.css">
    <script src="<%= common.path.js %>script.js"></script>
</head>
<body<% if (personal.bodyClass !== '') { %> class="<%= personal.bodyClass %>"<% } %>>